body{
    text-align: center;
}
h1{
    font-size: 40px;
    color:darkslategrey;
    font-weight: 300;
    font-family: sans-serif;
}
#apps{
    height: 800px;
    width: 100%;
    background-color:aquamarine;
}
.line{
    height: 70px;
    width: 7px;
    margin:8px auto;
    margin-right: 5px auto;
}
#games{
    width:100%;
    height: 500px;
    background-color: firebrick;
}
img{
    transition:transform .2s;

}
img:hover{
    transform: scale(0.9);
}
#chatbots{
    width:100%;
    height: 500px;
    background-color:orange;
}
